*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Geneva, Verdana, sans-serif;
}
/* 
body .simetry_red{
    border: solid 1px;
    position: absolute;
    left: 5%;
    height: 700px;
    color:red;
} */

    /* page block simetry */
/* .simetry_blue{
    border: solid 1px;
    position: absolute;
    left: 63.9%;
    height: 700px;
    color: blue;
}

.simetry_green{
    border: solid 1px;
    position: absolute;
    left: 94.9%;
    height: 1000px;
    color: green;
}

.simetry_purple{
    border: solid 1px;
    position: absolute;
    top: 438px;
    width: 100%;
    color: purple;
} */

/* header start */
header .head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.head ul{
    display: flex;
    margin-left: 5.1%;
}

.head ul li{
    padding: 0px 20% 1px 0%;
}

.head ul li a{
    color: gray;
}

.icon-menu{
    width: 90.2%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icon{
    padding: 10px 0px 10px 0px;
}

.menu ul{
    display: flex;
    margin-top: 1.5%;
}

.menu ul li a{
    color: black;
    padding: 10px 5px 20px 5px;
    border-radius: 0px 0px 5px 5px ;
}

.menu ul li a:hover{
    background-color: rgb(245, 176, 48);
    color: black;
    border-radius: 0px 0px 5px 5px;
}
/* header end */

/* content box start */
.content{
    width: 89.8%;
    margin: auto;
    height: 600px;
    justify-content: space-between;
    display: flex;
}

.left{
    height: 100%;
    width: 60%;
}


.big-box{
    height: 59%;
    width: 100%;
    background-image: url(image/big_box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under{
    height: 38.5%;
    width: 100%;
    margin-top: 1.8%;
    justify-content: space-between;
    display: flex;
}

.under-left-box{
    height: 99%;
    width: 48.5%;
    color: red;
    position: relative;
    background-image: url(image/under_center.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under-right-box{
    height: 100%;
    width: 48.5%;
    color: blue;
    background-image: url(image/box_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    height: 100%;
    width: 38.5%;
}

.box-1{
    height: 38.5%;
    width: 100%;
    background-image: url(image/box_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.binance{
    height: 18%;
    width: 100%;
    margin-top: 2.6%;
    background-image: url(image/binance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2{
    height: 38.5%;
    width: 100%;
    margin-top: 2.6%;
    background-image: url(image/under_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* content box end */