*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Geneva, Verdana, sans-serif;
}

/* header start */
header .head{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.head ul{
    display: flex;
    margin-left: 5.1%;
}

.head ul li{
    padding: 0px 20% 1px 0%;
}

.head ul li a{
    color: gray;
}

.icon-menu{
    width: 90.2%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icon{
    padding: 10px 0px 10px 0px;
}

.menu-media{
    display: none;
}

.menu ul{
    display: flex;
    margin-top: 1.5%;
}

.menu ul li a{
    color: black;
    padding: 10px 5px 20px 5px;
    background-color: rgb(245, 176, 48);
    border: none;
}

.menu ul li a:hover{
    background-color: black;
    color: rgb(245, 176, 48);
    border: none;
}
/* header end */

/* content box start */
.content{
    width: 89.8%;
    margin: auto;
    height: 600px;
    justify-content: space-between;
    display: flex;
}

.left{
    height: 100%;
    width: 60%;
}


.big-box{
    height: 59%;
    width: 100%;
    background-image: url(image/big_box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under{
    height: 38.5%;
    width: 100%;
    margin-top: 1.8%;
    justify-content: space-between;
    display: flex;
}

.under-left-box{
    height: 99%;
    width: 48.5%;
    color: red;
    background-image: url(image/under_center.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under-right-box{
    height: 100%;
    width: 48.5%;
    color: blue;
    background-image: url(image/box_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    height: 100%;
    width: 38.5%;
}

.box-1{
    height: 38.5%;
    width: 100%;
    background-image: url(image/box_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.binance{
    height: 18%;
    width: 100%;
    margin-top: 3.2%;
    background-image: url(image/binance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2{
    height: 38.5%;
    width: 100%;
    margin-top: 3%;
    background-image: url(image/under_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* content box end */

/* medida start */
@media screen and (max-width:890px) {
    .menu ul{
        display: none;
    }
    .menu-media{
        display: block;
        margin-top: 20px;
    }

    .content{
        display: block;
        width: 89.8%;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .big-box h1{
        margin-bottom: 20px;
    }
}